html, body {
    padding: 0;
    margin: 0;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator-div {
    height: 600px;
    width: 350px;
    border: 1px solid black;
    border-radius:  10px;
    background-color: black;
    display: flex;
    padding: 20px 0;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.buttonRaw {
    display: flex;

}
.numberButton {
    color: white;
    background-color: grey;
    border-radius: 50%;
    font-size: 35px;
    width: 70px;
    height: 70px;
    display: flex;
    padding: 0;
    border-width: 0;
    justify-content: center;
    align-items: center;
    margin: 5px;
    cursor: pointer;

}

.orangeButton {
    background-color: orange;
}

.zeroButton {
    width: 150px;
    border-radius: 40%;
}

.resultsDisplay {
    width: 310px;
    margin: 10px 0;
}

.results {
    text-align: right;
    color: white;
    font-size: 40px;
}